# Dependencies
node_modules/
.pnp
.pnp.js

# Production
dist/
dist-ssr/

# Environment
.env
.env.local
.env.*.local

# Firebase
.firebase/
firebase-debug.log
firestore-debug.log
ui-debug.log
pubsub-debug.log

# Editor
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
*.swp
*.swo
.DS_Store

# Testing
coverage/
*.log

# Build
*.local